body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.service-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.icon i {
  font-size: 3rem;
}
.banner-img{
    width: 100%;
    height: 70vh;
}